{% extends 'layout.html.twig' %}
{% set active = 'homepage' %}

{% block content %}
<div id="main" role="main" class="container">
  Hoje o almoço será no {{ variable|capitalize }}
</div>
{% endblock %}